html,body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFFFFF;
    background-repeat: repeat;
}
  
a:hover {
    text-decoration: none;
}

.nav-container {
    text-align: left;
    position: relative;
    left: 10vw;
}

h1 a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: #5C5B59;
    text-align: left;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: left;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #5C5B59;
    text-align: left;
    margin-right: 10%;
}

.nav-container img {
    width: 24px;
    display: inline-block;
    padding-top: 16px;
  }

.nav-container a {
    color: #5C5B59 !important;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }

.rectangle {
    display: inline-block;
    margin-top: 150px;
    height: 49px;
    width: 49px;
}

.nav-text-links a {
    position: relative;
    z-index: 9;
    font-size: 18px;
}

.nav-text-links a:hover {
    color: #B10CA1 !important;
  }

.footer {
    position: fixed;
    left: 10vw;
    bottom: 0;
    color: #5C5B59;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.05em;
  } 

  @media screen and (max-width: 990px) {
    .rectangle {
      width: 25px;
      height: 25px;
    }
    h1 {
      font-size: 16px;
    }
    h2{
      font-size: 14px;
      width: 66%;
    }
    .nav-container img {
      width: 24px;
    }
    .nav-container {
      margin-left: -5%;
    }
    .portfolio-text a {
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
    }
    .portfolio-item img {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .nav-container {
      margin-left: -5%;
    }
    .nav-text-links a {
      position: relative;
      z-index: 9;
      font-size: 14px;
      top: 2px;
    }
}